html {
    background-image: url("./assets/background-medium.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #464646;
    background-size: cover;

    color: rgb(218, 201, 181);
}

.homepage-container {
    text-align: center;
}
